html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.countdown-container {
    text-align: center;
}

#countdown {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.time {
    margin: 0 10px;
    padding: 20px;
    background: #ffcc00;
    border-radius: 10px;
    font-size: 2em;
}